@font-face {
    font-family:"iconfont";
    /* Project id 2809767 */
    src: url('//at.alicdn.com/t/c/font_2809767_pi788c3nce8.woff2?t=1666658355079') format('woff2'), url('//at.alicdn.com/t/c/font_2809767_pi788c3nce8.woff?t=1666658355079') format('woff'), url('//at.alicdn.com/t/c/font_2809767_pi788c3nce8.ttf?t=1666658355079') format('truetype');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-CSS-:before {
    content:"\e998";
}
.icon-ziyuan1672:before {
    content:"\e62a";
}
.icon-attachment:before {
    content:"\e667";
}
.icon-code:before {
    content:"\e668";
}
.icon-direction-down:before {
    content:"\e66b";
}
.icon-discount:before {
    content:"\e66d";
}
.icon-direction-left:before {
    content:"\e66c";
}
.icon-fullscreen-shrink:before {
    content:"\e676";
}
.icon-fullscreen-expand:before {
    content:"\e675";
}
.icon-move:before {
    content:"\e67b";
}
.icon-toggle-left:before {
    content:"\e680";
}
.icon-toggle-right:before {
    content:"\e681";
}
.icon-tongzhi:before {
    content:"\e759";
}
.icon-sousuo:before {
    content:"\e651";
}
.icon-quanping:before {
    content:"\e655";
}
.icon-github-fill:before {
    content:"\e885";
}
.icon-zhuti_o:before {
    content:"\eb6f";
}
.icon-quanping_o:before {
    content:"\eb99";
}
.icon-suoping:before {
    content:"\e639";
}
.icon-fill:before {
    content:"\e658";
}
.icon-tianchongxing-:before {
    content:"\e640";
}
.icon-rubber:before {
    content:"\ea15";
}
.icon-ziti:before {
    content:"\e602";
}
.icon-tubiao-zhexiantu:before {
    content:"\eb96";
}
.icon-Group-:before {
    content:"\e6a6";
}
.icon-biaodanzujian-biaoge:before {
    content:"\ec15";
}
.icon-dapingfuwu:before {
    content:"\e665";
}
.icon-kebianjibiaoge:before {
    content:"\e720";
}
.icon-md:before {
    content:"\e803";
}
.icon-wenjianliebiao:before {
    content:"\e65a";
}
.icon-canvas:before {
    content:"\e6aa";
}
.icon-zhuangshi:before {
    content:"\e6ab";
}
.icon-shujuhuizong:before {
    content:"\e627";
}
.icon-waibiankuang:before {
    content:"\e624";
}
.icon-timeAxis:before {
    content:"\e645";
}
.icon-24gl-chartBarUpward:before {
    content:"\e846";
}
.icon-tansuotianjiatubiao:before {
    content:"\e644";
}
.icon-ercikaifashili:before {
    content:"\ee21";
}
.icon-tuozhuai:before {
    content:"\e611";
}
.icon-drag_2:before {
    content:"\e616";
}
.icon-tuozhuai1:before {
    content:"\e636";
}
.icon-bianji:before {
    content:"\e600";
}
.icon-shanchu:before {
    content:"\e8b6";
}
.icon-huanyuan:before {
    content:"\e648";
}
.icon-zidingyilie:before {
    content:"\e6b6";
}
.icon-zidingyi:before {
    content:"\ee1b";
}
.icon-sort-line:before {
    content:"\e836";
}
.icon-wind-descending:before {
    content:"\e838";
}
.icon-wind-ascending:before {
    content:"\e839";
}
.icon-paixu:before {
    content:"\e609";
}
.icon-paixujiangxu:before {
    content:"\e63a";
}
.icon-paixushengxu:before {
    content:"\e63b";
}
.icon-paixu-jiangxu:before {
    content:"\e65f";
}
.icon-paixu-shengxu:before {
    content:"\e660";
}
.icon-close:before {
    content:"\e6e9";
}
.icon-management:before {
    content:"\e6a5";
}
.icon-xitong:before {
    content:"\e626";
}
.icon-changyongshili:before {
    content:"\e63f";
}
.icon-navicon-wzgl:before {
    content:"\e661";
}
.icon-dashboard:before {
    content:"\e78b";
}
.icon-daimashili:before {
    content:"\e62c";
}
.icon-zuozhe:before {
    content:"\e65c";
}
.icon-riqi:before {
    content:"\e646";
}
.icon-browse1:before {
    content:"\e745";
}
.icon-good:before {
    content:"\e753";
}
.icon-hot:before {
    content:"\e754";
}
.icon-atm-fill:before {
    content:"\e779";
}
.icon-good-fill:before {
    content:"\e780";
}
.icon-hot-fill:before {
    content:"\e781";
}
.icon-collection-fill:before {
    content:"\e79d";
}
.icon-comments-fill:before {
    content:"\e7a9";
}
.icon-comments:before {
    content:"\e7b2";
}
.icon-favorites:before {
    content:"\e7b3";
}
.icon-bangzhu:before {
    content:"\e61b";
}
.icon-shangwutubiao-:before {
    content:"\e64c";
}
.icon-fire:before {
    content:"\e842";
}
.icon-browse_fill:before {
    content:"\e6e4";
}
.icon-browse:before {
    content:"\e6e5";
}
.icon-collection_fill:before {
    content:"\e6ea";
}
.icon-collection:before {
    content:"\e6eb";
}
.icon-interactive_fill:before {
    content:"\e704";
}
.icon-interactive:before {
    content:"\e705";
}
.icon-like_fill:before {
    content:"\e707";
}
.icon-like:before {
    content:"\e708";
}
.icon-message:before {
    content:"\e70c";
}
.icon-message_fill:before {
    content:"\e70d";
}
.icon-praise_fill:before {
    content:"\e71a";
}
.icon-praise:before {
    content:"\e71b";
}
.icon-biangengsousuo:before {
    content:"\e6a7";
}
.icon-qingchuhuancun:before {
    content:"\e7c0";
}
.icon-xinpin:before {
    content:"\e615";
}
.icon-zu:before {
    content:"\e608";
}
.icon-jiu:before {
    content:"\e68e";
}
.icon-anzhuo:before {
    content:"\e60b";
}
.icon-wenjian:before {
    content:"\e65e";
}
.icon-wenjianjia:before {
    content:"\e61a";
}
.icon-miyueguanli:before {
    content:"\e965";
}
.icon-APIwangguan_huaban1:before {
    content:"\e601";
}
.icon-wenjianguanli:before {
    content:"\e64f";
}
.icon-home-page:before {
    content:"\e63e";
}
.icon-xuexi:before {
    content:"\e763";
}